<marquee>Beautiful save buttons. Click to save the file in your cloud!!, IT will be stored safely and securely!!!<h2></marquee>

<tr>
<td>
Save split 1 in Google drive: ~-=@::::::::::::::: </td>
<td><script src="https://apis.google.com/js/platform.js" async defer></script>
<div class="g-savetodrive"
   data-src=<%=Rails.root.join('laddu', '1.pdf')%>
   data-filename="1.pdf"
   data-sitename="My Company Name">
   </div>

</td>
<td><%= link_to "Sucess? ", home_index_path %></td>
<td><%= link_to "NO???? :(", home_index_path %></td></tr>
<tr><td>Save split 2 in Drop Box: ~-=@::::::::::: </td>
<td>
	<script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="5lwv7zdzkd6matm"></script>
	<a href="https://dl.dropboxusercontent.com/s/deroi5nwm6u7gdf/advice.png" class="dropbox-saver"></a>
</td></tr>	


	
